<section class="faq">
  <div class="container faq__container">
    <h2 class="title faq__title">Часто задаваемые вопросы</h2>
    <ul class="faq__list list-reset">
      <li class="faq-accordion">
        <button class="faq-accordion__control btn-reset" aria-expanded="false">
          <span class="faq-accordion__title">Вопрос 1</span>
          <span class="faq-accordion__icon"></span>
        </button>
        <div class="faq-accordion__content" aria-hidden="true">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, velit!</p>
        </div>
      </li>
      <li class="faq-accordion">
        <button class="faq-accordion__control btn-reset" aria-expanded="false">
          <span class="faq-accordion__title">Вопрос 2</span>
          <span class="faq-accordion__icon"></span>
        </button>
        <div class="faq-accordion__content" aria-hidden="true">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum fugit libero mollitia necessitatibus nemo odio placeat quam similique, tempore unde.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
